# Logs
logs
*.log

node_modules
typings

# Ignore js files in client and the source maps
client/**/*.js
client/**/*.map

# Ignore the real config file
/server.conf.js

# Ignore webstorm project files
.idea
